@use "../../global/colors" as *;

.contactMe {
    max-width: 1440px;
    margin: 2rem auto 1rem;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    position: relative;

    .waterMark {
        position: absolute;
        font-size: 25rem;
        font-weight: bolder;
        opacity: .1;
        z-index: -1;
        left: 30%;
        top: 15%;
    }

    &-content {
        width: 80%;

        .discription {
            font-size: 1.3rem;
            margin-top: 2rem;
        }
    }
    .h2 {
        font-size: 3.5rem;
        cursor: pointer;
        position: relative;

        &::after {
            content: "#";
            margin-left: 1rem;
            color: $color-accent;
            opacity: 0;
            transition: opacity 500ms ease;
            position: absolute;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    .form {
        margin-top: 3rem;
        .input-group {
            margin-bottom: 1rem;
            position: relative;
            &::after {
                content: "";
                height: 5px;
                width: 0%;
                background-color: $color-accent;
                position: absolute;
                left: 0;
                top: 100%;
                transition: width 500ms ease;
            }

            &.active{
                &::after {
                    width: 100%;
                }
            }

            .input {
                padding: 1rem;
            }

            textarea {
                resize: none;
                padding: .5rem;
            }

            .input, textarea {
                width: 100%;
                font-size: 1.2rem;
                border: none;
                background-color: rgb(217, 217, 217);

                &:active, &:focus {
                    outline: 1px solid rgba(0, 0, 0, 0.186);
                }

                &::placeholder {
                    font-size: 1.2rem;
                    font-family: inherit;
                }
            }

        }
        .btn.outline {
            border: 1px solid black;
        }
    }

    .map-container {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: red;

        .map {
            width: 100%;
            height: 100%;
            background-image: url("../../../../../public/images/map.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
}

@media (max-width: 800px) {
    .contactMe {
        grid-template-columns: 1fr;
        text-align: center;

        .waterMark {
            font-size: 25vw;
            top: 7%;
            left: 45%;
        }
        &-content {
            width: 100%;
        }

        .map-container {
            margin-top: 2rem;
        }
    }
}