@use "../../global/colors" as *;

.myWorkSection {
    max-width: 1440px;
    margin:  auto;
    padding-top: 2rem;
    position: relative;
    overflow-x: hidden;

    .waterMark {
        position: absolute;
        font-size: 25rem;
        font-weight: bolder;
        opacity: .1;
        z-index: -1;
        left: 47%;
        top: 10%;
    }

    .h2 {
        font-size: 3.5rem;
        cursor: pointer;
        position: relative;

        &::after {
            content: "#";
            margin-left: 1rem;
            color: $color-accent;
            opacity: 0;
            transition: opacity 500ms ease;
            position: absolute;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    &-discription {
        font-size: 1.3rem;
        margin: 2rem 0 4rem;
    }

    .showcase-div {
        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin: 1.5rem 0;

            .thumbnail {
                position: relative;
                width: 100%;
                .img {
                    width: 100%;
                }

                &-right {
                    justify-self: flex-end;
                }

                &::after {
                    content: "";
                    position: absolute;
                    background-color: transparent;
                    inset: 0;
                    transition: 500ms ease-in-out;
                }
            }

            .details {
                width: 80%;
                margin-left: 1.5rem;
                font-size: 1.2rem;

                &-title {
                    font-size: 1.6rem;
                    font-weight: bold;
                    cursor: pointer;

                    &::after {
                        content: "#";
                        margin-left: .5rem;
                        color: $color-accent;
                        opacity: 0;
                        transition: opacity 500ms ease;
                    }
            
                    &:hover::after {
                        opacity: 1;
                    }
                }

                &-discription {
                    margin: 1rem 0;
                }

                &-ul {
                    list-style-type: none;
                    display: flex;
                    gap: 1.8rem;
                    font-size: 1.1rem;

                    &_li {
                        position: relative;
                        cursor: pointer;
                        &::after, &::before {
                            position: absolute;
                            opacity: 0;
                            transition: 400ms ease;
                        }

                        &::after {
                            content: "/>";
                            left: 105%;
                        }

                        &::before {
                            content: "<";
                            right: 105%;
                        }

                        &:hover::after, &:hover::before {
                            opacity: 1;
                            font-weight: bold;
                        }
                    }
                }

                .links-div {
                    margin-top: 2.5rem;
                    .link {
                        color: #000;
                        text-decoration: none;
                        padding: .5em 2em;
                        border-radius: 5px;
                        transition: 300ms ease-in-out;

                        &:hover {
                            border-radius: 10px;
                        }
                    }

                    .live-btn {
                        margin-right: 1rem;
                        background-color: red;
                    }

                    .code-btn {
                        border: 2px solid red;
                    }

                }

                &-left {
                    justify-self: flex-end;
                    margin-right: 1.5rem;
                }
            }
        }
    }
}

// body.dark {
//     .myWorkSection {
//         .showcase-div {
//             .row {
//                 .thumbnail {
//                     &::after {
//                         background-color: rgba(0, 0, 0, 0.144);
//                     }
//                 }
//             }
//         }
//     }
// }

@media (max-width: 800px) {
    .myWorkSection {
        max-width: 500px;
        text-align: center;

        .waterMark {
            font-size: 25vw;
            top: 5%;
        }

        .showcase-div {
            .row {
                display: block;

                .details {
                    margin: 1.5rem auto 1rem;
                    &-ul {
                        justify-content: center;
                    }
                }

                .thumbnail {
                    width: 100%;
                    margin-top: 1rem;
                }
            }

            .row.img-top {
                display: flex;
                flex-direction: column-reverse;
                .thumbnail {
                    order: 1;
                }
            }
        }
    }
}
