@use "../../global/colors" as *;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    height: 10vh;
    max-width: 1440px;
    margin: auto;
    .logo {
        opacity: 0;
    }

    .hamburger-icon {
        position: relative;
        height: 30px;
        display: none;
        cursor: pointer;
        width: 40px;
        .line {
            position: absolute;
            background-color: black;
            width: 40px;
            height: 5px;
            transition: transform 500ms ease;
        }

        .line1 {
            top: 10%;
        }

        .line2 {
            top: 50%;
        }

        .line3 {
            top: 90%;
        }
    }

    .links {
        display: flex;
        list-style-type: none;
        gap: 3rem;
        .link {
            position: relative;
            font-size: 1.2rem;
            a {
                text-decoration: none;
                color: black;
            }

            &::after {
                content: " />";
                color: $color-main;
            }

            &::before {
                content: "< ";
            }

            &::before, &::after {
                opacity: 0;
                transition: 700ms ease;
                font-weight: bolder;
            }

            &:hover::after, &:hover::before {
                opacity: 1;
            }
        }
    }
    &.active {
        .hamburger-icon {
            .line2 {
                display: none;
            }
            .line1 {
                top: 45%;
                transform: rotateZ(45deg);
            }

            .line3 {
                transform: rotateZ(-45deg);
                top: 45%;
            }
        }
    }
}


@media (max-width: 500px) {
    .nav {
        position: relative;
        .links {
            display: none;
        }
        
        .hamburger-icon {
            display: block;
        }

        &.active {
            .links {
                display: block;
                position: absolute;
                z-index: 6;
                top: 110%;
                left: 0;
                right: 0;
                background-color: rgb(233, 233, 233);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2rem 0;
                height: 85vh;

                .link {
                    font-size: 2rem;
                }
            }
        }
 }
}

body.dark {
    .nav {
        .links {
            .link {
                a {
                    color: #fff;
                }
            }
        }
    }
}