@use "../../global/colors" as *;

.mywork {
    max-width: 1440px;
    margin:  0rem auto 5rem;
    padding-top: 2rem;
    position: relative;
    overflow-x: hidden;
    font-size: 1.1rem;

    a {
        color: $color-main;
        text-decoration: none;
    }
    
    .h1 {
        font-size: 3rem;
        cursor: pointer;
        position: relative;

        &::after {
            content: "#";
            margin-left: 1rem;
            color: $color-accent;
            opacity: 0;
            transition: opacity 500ms ease;
            position: absolute;
            color: $color-main;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    .discription {
        margin: 2rem 0;
    }

    .col {
         .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin: 1.5rem 0;

            .thumbnail {
                position: relative;
                width: 100%;
                .img {
                    width: 100%;
                }

                &-right {
                    justify-self: flex-end;
                }
            }

            .details {
                width: 80%;
                margin-left: 1.5rem;
                font-size: 1.2rem;

                &-title {
                    font-size: 1.6rem;
                    font-weight: bold;
                    cursor: pointer;

                    &::after {
                        content: "#";
                        margin-left: .5rem;
                        color: $color-accent;
                        opacity: 0;
                        transition: opacity 500ms ease;
                        color: $color-main;
                    }
            
                    &:hover::after {
                        opacity: 1;
                    }
                }

                &-discription {
                    margin: 1rem 0;
                }

                &-ul {
                    list-style-type: none;
                    display: flex;
                    gap: 1.8rem;
                    font-size: 1.1rem;

                    &_li {
                        position: relative;
                        cursor: pointer;
                        &::after, &::before {
                            position: absolute;
                            opacity: 0;
                            transition: 400ms ease;
                        }

                        &::after {
                            content: "/>";
                            left: 105%;
                            color: $color-main;
                        }

                        &::before {
                            content: "<";
                            right: 105%;
                        }

                        &:hover::after, &:hover::before {
                            opacity: 1;
                            font-weight: bold;
                        }
                    }
                }

                .links-div {
                    margin-top: 2.5rem;
                    .link {
                        color: #000;
                        text-decoration: none;
                        padding: .5em 2em;
                        border-radius: 5px;
                        transition: 300ms ease-in-out;

                        &:hover {
                            border-radius: 10px;
                        }
                    }

                    .live-btn {
                        margin-right: 1rem;
                        background-color: $color-main;
                        color: #fff;
                    }

                    .code-btn {
                        border: 2px solid $color-main;
                    }

                }

                &-left {
                    justify-self: flex-end;
                    margin-right: 1.5rem;
                }
            }
        }
    }
}

@media (max-width: 1050px) {
    .mywork {
        text-align: center;
        .col {
            width: 90%;
            margin: auto;
            .row {
                display: block;
                text-align: center;

                .thumbnail {
                    margin-top: 3rem;
                    margin-bottom: 2rem;
                }

                .details {
                    width: 100%;
                    margin-left: 0;

                    &-ul {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .mywork {
        .col {
            .row {
                .thumbnail {
                    .link {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}

body.dark {
    .mywork {
        .col {
            .row {
                .links-div {
                    .link {
                        color: #fff;
                    }
                }
            }
        }
    }
}