.aboutMe {
  max-width: 1440px;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.aboutMe .waterMark {
  position: absolute;
  font-size: 25rem;
  font-weight: bolder;
  opacity: 0.1;
  z-index: -1;
  left: 54%;
  top: 13%;
}
.aboutMe .details .h2 {
  font-size: 3.5rem;
  cursor: pointer;
  position: relative;
}
.aboutMe .details .h2::after {
  content: "#";
  margin-left: 1rem;
  color: black;
  opacity: 0;
  transition: opacity 500ms ease;
  position: absolute;
}
.aboutMe .details .h2:hover::after {
  opacity: 1;
}
.aboutMe .details-row .whatiuse {
  margin-top: 2rem;
  flex-basis: 100%;
}
.aboutMe .details-row .whatiuse h3 {
  font-size: 1.6rem;
  font-weight: 400;
}
.aboutMe .details-row .whatiuse div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.3rem;
}
.aboutMe .details-row .whatiuse div ul {
  margin-top: 1rem;
  list-style: none;
}
.aboutMe .details-row .whatiuse div ul li {
  margin-top: 0.5rem;
  cursor: pointer;
}
.aboutMe .details-row .whatiuse div ul li::after {
  content: " />";
  opacity: 0;
  transition: 500ms ease;
}
.aboutMe .details-row .whatiuse div ul li:hover::after {
  opacity: 1;
}
.aboutMe .details .discription {
  width: 80%;
  font-size: 1.3rem;
  margin-top: 1rem;
}
.aboutMe .details .discription.discription-1 {
  margin-top: 2rem;
}
.aboutMe .details .h3 {
  font-size: 1.5rem;
  margin-top: 5rem;
}
.aboutMe .details .social-links {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.aboutMe .details .social-links .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 50%;
}
.aboutMe .details .social-links .social-link:hover {
  color: red;
  border-color: red;
}

@media (max-width: 800px) {
  .aboutMe {
    flex-direction: column;
    text-align: center;
    max-width: 500px;
  }
  .aboutMe .waterMark {
    font-size: 20vw;
    left: 54%;
    top: 13%;
  }
  .aboutMe .details .discription {
    width: 100%;
  }
  .aboutMe .social-links {
    justify-content: center;
    margin-bottom: 2rem;
  }
}
