.contactMe {
  max-width: 1440px;
  margin: 4rem auto 1rem;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.contactMe .waterMark {
  position: absolute;
  font-size: 25rem;
  font-weight: bolder;
  opacity: 0.1;
  z-index: -1;
  left: 30%;
  top: 15%;
}
.contactMe-content {
  width: 80%;
}
.contactMe-content .discription {
  font-size: 1.3rem;
  margin-top: 2rem;
}
.contactMe .h2 {
  font-size: 3.5rem;
  cursor: pointer;
  position: relative;
}
.contactMe .h2::after {
  content: "#";
  margin-left: 1rem;
  color: black;
  opacity: 0;
  transition: opacity 500ms ease;
  position: absolute;
}
.contactMe .h2:hover::after {
  opacity: 1;
}
.contactMe .form {
  margin-top: 3rem;
}
.contactMe .form .input-group {
  margin-bottom: 1rem;
  position: relative;
}
.contactMe .form .input-group::after {
  content: "";
  height: 5px;
  width: 0%;
  background-color: black;
  position: absolute;
  left: 0;
  top: 100%;
  transition: width 500ms ease;
}
.contactMe .form .input-group.active::after {
  width: 100%;
}
.contactMe .form .input-group .input {
  padding: 1rem;
}
.contactMe .form .input-group textarea {
  resize: none;
  padding: 0.5rem;
}
.contactMe .form .input-group .input, .contactMe .form .input-group textarea {
  width: 100%;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(217, 217, 217);
}
.contactMe .form .input-group .input:active, .contactMe .form .input-group .input:focus, .contactMe .form .input-group textarea:active, .contactMe .form .input-group textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0.186);
}
.contactMe .form .input-group .input::placeholder, .contactMe .form .input-group textarea::placeholder {
  font-size: 1.2rem;
  font-family: inherit;
}
.contactMe .form .btn.outline {
  border-width: 1px;
}
.contactMe .map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: red;
}
.contactMe .map-container .map {
  width: 100%;
  height: 100%;
  background-image: url("../../../../../public/images/map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 800px) {
  .contactMe {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .contactMe .waterMark {
    font-size: 25vw;
    top: 7%;
    left: 45%;
  }
  .contactMe-content {
    width: 100%;
  }
  .contactMe .map-container {
    margin-top: 2rem;
    height: 50vh;
  }
}
body.dark .contactMe .form .input-group::after {
  background-color: #fff;
}
body.dark .contactMe .form .input-group .input, body.dark .contactMe .form .input-group textarea {
  background-color: rgb(74, 74, 74);
  color: #fff;
}
body.dark .contactMe .form .input-group .input::placeholder, body.dark .contactMe .form .input-group textarea::placeholder {
  color: #fff;
}
body.dark .contactMe .form .btn.outline {
  border-color: rgb(171, 171, 171);
}
body.dark .contactMe .form .btn.outline:hover {
  color: black;
}
