.hero-section {
  height: 100vh;
  position: relative;
}
.hero-section .h1 {
  font-size: 5rem;
  letter-spacing: 4px;
}
.hero-section .content-div {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1440px;
  margin: auto;
}
.hero-section .content-div .discription {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}
.hero-section .canvas {
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 700px) {
  .hero-section .h1 {
    font-size: 10vw;
  }
}
@media (max-width: 400px) {
  .hero-section .content-div .btn {
    padding: 0.5em 1em;
  }
  .hero-section .content-div .discription {
    margin: 0.5rem 0;
  }
}
@media (max-width: 370px) {
  .hero-section .h1 {
    font-size: 9vw;
  }
  .hero-section .content-div .btn {
    font-size: 1rem;
  }
  .hero-section .content-div .discription {
    font-size: 1rem;
    margin: 0.4rem 0;
  }
}
