.myWorkSection {
  max-width: 1440px;
  margin: auto;
  padding-top: 2rem;
  position: relative;
}
.myWorkSection .waterMark {
  position: absolute;
  font-size: 25vw;
  font-weight: bolder;
  opacity: 0.1;
  z-index: -1;
  left: 47%;
  top: 10%;
}
.myWorkSection .h2 {
  font-size: 3.5rem;
  cursor: pointer;
  position: relative;
}
.myWorkSection .h2::after {
  content: "#";
  margin-left: 1rem;
  color: black;
  opacity: 0;
  transition: opacity 500ms ease;
  position: absolute;
}
.myWorkSection .h2:hover::after {
  opacity: 1;
}
.myWorkSection-discription {
  font-size: 1.3rem;
  margin: 2rem 0 4rem;
}
.myWorkSection .showcase-div .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 1.5rem 0;
}
.myWorkSection .showcase-div .row .thumbnail-right {
  justify-self: flex-end;
}
.myWorkSection .showcase-div .row .details {
  width: 80%;
  margin-left: 1.5rem;
  font-size: 1.2rem;
}
.myWorkSection .showcase-div .row .details-title {
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
.myWorkSection .showcase-div .row .details-title::after {
  content: "#";
  margin-left: 0.5rem;
  color: black;
  opacity: 0;
  transition: opacity 500ms ease;
}
.myWorkSection .showcase-div .row .details-title:hover::after {
  opacity: 1;
}
.myWorkSection .showcase-div .row .details-discription {
  margin: 1rem 0;
}
.myWorkSection .showcase-div .row .details-ul {
  list-style-type: none;
  display: flex;
  gap: 1.8rem;
  font-size: 1.1rem;
}
.myWorkSection .showcase-div .row .details-ul_li {
  position: relative;
  cursor: pointer;
}
.myWorkSection .showcase-div .row .details-ul_li::after, .myWorkSection .showcase-div .row .details-ul_li::before {
  position: absolute;
  opacity: 0;
  transition: 400ms ease;
}
.myWorkSection .showcase-div .row .details-ul_li::after {
  content: "/>";
  left: 105%;
}
.myWorkSection .showcase-div .row .details-ul_li::before {
  content: "<";
  right: 105%;
}
.myWorkSection .showcase-div .row .details-ul_li:hover::after, .myWorkSection .showcase-div .row .details-ul_li:hover::before {
  opacity: 1;
  font-weight: bold;
}
.myWorkSection .showcase-div .row .details-left {
  justify-self: flex-end;
  margin-right: 1.5rem;
}

@media (max-width: 800px) {
  .myWorkSection {
    max-width: 500px;
    text-align: center;
  }
  .myWorkSection .waterMark {
    font-size: 15rem;
    left: 10%;
    top: 5%;
  }
  .myWorkSection .showcase-div .row {
    display: block;
  }
  .myWorkSection .showcase-div .row .details {
    margin: 1.5rem auto 1rem;
  }
  .myWorkSection .showcase-div .row .details-ul {
    justify-content: center;
  }
  .myWorkSection .showcase-div .row .thumbnail {
    width: 100%;
    margin-top: 1rem;
  }
  .myWorkSection .showcase-div .row.img-top {
    display: flex;
    flex-direction: column-reverse;
  }
  .myWorkSection .showcase-div .row.img-top .thumbnail {
    order: 1;
  }
}
