.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  height: 10vh;
  max-width: 1440px;
  margin: auto;
}
.nav .logo {
  opacity: 0;
}
.nav .hamburger-icon {
  position: relative;
  height: 30px;
  display: none;
  cursor: pointer;
  width: 40px;
}
.nav .hamburger-icon .line {
  position: absolute;
  background-color: black;
  width: 40px;
  height: 5px;
  transition: transform 500ms ease;
}
.nav .hamburger-icon .line1 {
  top: 10%;
}
.nav .hamburger-icon .line2 {
  top: 50%;
}
.nav .hamburger-icon .line3 {
  top: 90%;
}
.nav .links {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
.nav .links .link {
  position: relative;
  font-size: 1.2rem;
}
.nav .links .link a {
  text-decoration: none;
  color: black;
}
.nav .links .link::after {
  content: " />";
}
.nav .links .link::before {
  content: "< ";
}
.nav .links .link::before, .nav .links .link::after {
  opacity: 0;
  transition: 700ms ease;
  font-weight: bolder;
}
.nav .links .link:hover::after, .nav .links .link:hover::before {
  opacity: 1;
}
.nav.active .hamburger-icon .line2 {
  display: none;
}
.nav.active .hamburger-icon .line1 {
  top: 45%;
  transform: rotateZ(45deg);
}
.nav.active .hamburger-icon .line3 {
  transform: rotateZ(-45deg);
  top: 45%;
}

@media (max-width: 500px) {
  .nav {
    position: relative;
  }
  .nav .links {
    display: none;
  }
  .nav .hamburger-icon {
    display: block;
  }
  .nav.active .links {
    display: block;
    position: absolute;
    z-index: 6;
    top: 110%;
    left: 0;
    right: 0;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    height: 85vh;
  }
  .nav.active .links .link {
    font-size: 2rem;
  }
}
body.dark .nav .links .link a {
  color: #fff;
}
body.dark .nav .links .link::after {
  background-color: #fff;
}
