.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  height: 10vh;
  max-width: 1440px;
  margin: auto;
}
.nav .logo {
  opacity: 0;
}
.nav .hamburger-icon {
  position: relative;
  height: 30px;
  display: none;
  cursor: pointer;
  width: 40px;
}
.nav .hamburger-icon .line {
  position: absolute;
  background-color: black;
  width: 40px;
  height: 5px;
  transition: transform 500ms ease;
}
.nav .hamburger-icon .line1 {
  top: 10%;
}
.nav .hamburger-icon .line2 {
  top: 50%;
}
.nav .hamburger-icon .line3 {
  top: 90%;
}
.nav .hamburger-icon.active .line2 {
  display: none;
}
.nav .hamburger-icon.active .line1 {
  top: 45%;
  transform: rotateZ(45deg);
}
.nav .hamburger-icon.active .line3 {
  transform: rotateZ(-45deg);
  top: 45%;
}
.nav .links {
  display: flex;
  list-style-type: none;
  gap: 3rem;
}
.nav .links .link {
  position: relative;
  font-size: 1.2rem;
}
.nav .links .link a {
  text-decoration: none;
  color: black;
}
.nav .links .link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(48, 48, 48);
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  transition: width 500ms ease;
}
.nav .links .link:hover::after {
  width: 100%;
}

@media (max-width: 500px) {
  .nav .links {
    display: none;
  }
  .nav .hamburger-icon {
    display: block;
  }
}
