.footer {
    margin-top: 4rem;
    margin-bottom: 1rem;
    .container {
        padding: 1rem 10px;
        max-width: 1440px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;

        .copyright {
            text-align: right;
            opacity: .5;
        }

        .toTop {
            width: 45px;
            height: 45px;
            background-color: rgb(224, 224, 224);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: none;
            cursor: pointer;
        }
    }
}

@media (max-width: 800px) {
    .footer {
        .container {
            .copyright {
                text-align: center;
            }
        }
    }
}