.footer {
    margin-top: 4rem;
    .container {
        padding: 1rem 10px;
        max-width: 1440px;
        margin: auto;

        .copyright {
            text-align: right;
            opacity: .5;
        }
    }
}

@media (max-width: 800px) {
    .footer {
        .container {
            .copyright {
                text-align: center;
            }
        }
    }
}