@use "../global/colors" as *;

.subFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 2rem auto;

    .copyright {
        opacity: .6;
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        list-style-type: none;

        .link {
            a {
                text-decoration: none;
                color: #000;   

                &::before {
                    content: "< ";
                }

                &::after {
                    content: " />";
                    color: $color-main;
                }

                &::after {
                    opacity: 0;
                    transition: 400ms ease-in;
                    font-weight: bolder;
                }

                &:hover::after, &:hover::before {
                    opacity: 1;
                }
            }
        }
    }
}

@media(max-width: 850px) {
    .subFooter {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .copyright {
            margin-top: 1rem;
        }
    }
}

@media(max-width: 500px) {
    .subFooter {
        align-items: flex-start;
        .links {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
        }
    }
}

body.dark {
    .subFooter {
        .links {
            .link {
                a {
                    color: #fff;
                }
            }
        }
    }
}