$color-raisin-black: #1F2232;
$color-smoky-black: #131112; 
$color-black-chocolate: #141204;

$color-eerie-black: #1C1C1C;
$color-anit-flash-white: #F1F1F1;
$color-light-cobalt-blue: #82b7dc;
$color-lapis-lazuli: #3466aa;
$color-dark-cerulean: #114084;

$color-accent : black;
$color-main: $color-lapis-lazuli;
$color-dark-main: rgb(255, 255, 255);
