.footer {
  margin-top: 4rem;
}
.footer .container {
  padding: 1rem 10px;
  max-width: 1440px;
  margin: auto;
}
.footer .container .copyright {
  text-align: right;
  opacity: 0.5;
}

@media (max-width: 800px) {
  .footer .container .copyright {
    text-align: center;
  }
}
